/* header */

body {
  width: 375px;
  margin: 0 auto;
  background-color: #fafafa;
}

.nav_bar {
  height: 80px;
  background-color: #fcfcfc;
  position: fixed;
  width: 375px;
  top: 0;
  z-index: 2;
}

.navi {
  position: fixed;
  top: 80px;
  right: 100%;
  background-color: #fcfcfc;
  transition: 1s;
  width: 100%;
  height: 100%;
  margin: 0;
}

.navi-activ {
  right: 0;
  transition: 1s;
}

.nav_bar img {
  width: 80px;
  margin-top: 30px;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
}

.burger {
  top: 50%;
  left: 30px;
  position: absolute;
  height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 1s;
}

.burger div {
  height: 4px;
  width: 25px;
  background-color: black;
  border-radius: 10%;
  transition: 1s;
}

.burger-activ {
  height: 22px;
  transition: 1s;
}

.burger-activ div:first-child {
  transform-origin: left;
  transform: rotate(45deg);
  transition: 1s;
}

.burger-activ div:last-child {
  transform-origin: left;
  transform: rotate(-45deg);
  transition: 1s;
}

/* main */

main {
  margin-top: 80px;
}

.img_menu {
  width: 100%;
}

h2 {
  margin: 100px 20px 0;
  font-family: karmina, serif;
  font-weight: 400;
  font-style: normal;
  color: #424242;
}

p {
  margin: 30px 20px 0;
  font-family: karmina, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #424242;
}

.addresse {
  font-size: 15px;
  margin: 0 20px;
}

img {
  width: 375px;
}

.poster img {
  margin: 100px 20px 0px;
  border-radius: 25px;
  box-shadow: 0px -1px 16px -2px rgba(0, 0, 0, 0.43);
  width: auto;
}

a {
  text-decoration: none;
}

/* footer */

footer {
  background-color: #d8d8d8;
  margin-top: 100px;
}

footer img {
  width: 30px;
}

footer h2 {
  padding: 20px 20px 0;
  margin: 0;
  color: black;
  font-size: 20px;
}

footer p {
  margin: 0;
  padding: 0 20px;
  font-size: 15px;
  color: black;
}

footer a {
  color: black;
}

footer div {
  margin: 10px 20px 0;
  width: 190px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
}

/* carousel */

.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 525px;
  transform: translateY(-5px);
}

.carousel-slide {
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;
  transition: transform 300ms;
}

.slide {
  position: absolute;
  width: 100%;
}

.carousel-left,
.carousel-right {
  position: absolute;
  top: 50%;
  cursor: pointer;
  border: none;
  background: transparent;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
}

.carousel-left {
  left: 20px;
}

.carousel-right {
  right: 20px;
}

.carousel-left img,
.carousel-right img {
  width: 25px;
}

/* Produits */

.produit {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 375px;
}

.produit img {
  width: 70%;
  transform: translateX(20%);
}

.produit p {
  text-align: center;
  margin: 0;
}

/* prix */

.sous-titre {
  margin: 0 20px;
}

.prix {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 40px 175px;
}

.prix h3 {
  margin: auto;
  margin-left: 0;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 400;
  color: black;
} 

.prix a {
  font-size: 20px;
  font-family: sans-serif;
  padding: 10px;
  color: black;
  background-color: #91CBB1;
  width: 100px;
  text-align: center;
  border-radius: 10px;
}

/* citation */

.citation {
  transform: translateY(-5px);
  padding-top: 55px;
  height: 575px;
}

.citation img {
  width: 150px;
  display: flex;
  margin: auto;
}

.citation p {
  font-family: abril-fatface, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  margin: 100px 20px 20px;
}

/* 50s */

.fifties {
  background-color: white;
}

.fifties .nav_bar {
  background-color: #91CBB1;
}

.fifties .burger div {
  background-color: #E6F3EE;
}

.fifties main h2,
.fifties main p {
  color: #91CBB1;
}

.img_artist {
  margin: 100px 0 0;
}
.fifties .citation {
  background-color: #91CBB1;
}

.fifties .citation p {
  color: #E6F3EE;
}

.fifties .produit-1 {
  color: #FDC607;
}

.fifties .produit-2 {
  color: #EE732B;
}

/* sixties */

.sixties {
  background-color: white;
}

.sixties .nav_bar {
  background-color: #FEE4BD;
}

.sixties .burger div {
  background-color: #FDC604;
}

.sixties main h2,
.sixties main p {
  color: #FDC604;
}

.sixties .prix a {
  background-color: #FEE4BD;
}

.sixties .citation {
  background-color: #FEE4BD;
}

.sixties .produit-1 {
  color: #91CBB1;
}

.sixties .produit-2 {
  color: #EE732B;
}

/* seventies */

.seventies {
  background-color: white;
}

.seventies .nav_bar {
  background-color: #EE732B;
}

.seventies .burger div {
  background-color: #B22D32;
}

.seventies main h2,
.seventies main p {
  color: #B22D32;
}

.seventies .prix a {
  background-color: #EE732B;
}

.seventies .citation {
  background-color: #EE732B;
  height: 620px;
}

.seventies .produit-1 {
  color: #91CBB1;
}

.seventies .produit-2 {
  color: #FDC604;
}
